<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">

    <test name="MainTest" parallel="false">
        <classes>
            <class name="SearchTest">
                <methods>
                    <include name="searchTest"/>
                </methods>
            </class>
            <class name="SortingTest">
                <methods>
                    <include name="sortingByAscendingPriceTest"/>
                    <include name="sortingByDescendingPriceTest"/>
                </methods>
            </class>
            <class name="BasketTest">
                <methods>
                    <include name="basketTestByName"/>
                    <include name="basketTestByPrice"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>