<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MainTest" parallel="false">

    <test name="Chrome test">

        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="114"/>

        <classes>
            <!--            <class name="SearchTest">-->
            <!--                <methods>-->
            <!--                    <include name="isSearchResultVisible"/>-->
            <!--                    <include name="isEmptyResultMessageVisible"/>-->
            <!--                </methods>-->
            <!--            </class>-->
            <!--            <class name="SortingTest">-->
            <!--                <methods>-->
            <!--                    <include name="sortingByAscendingPriceTest"/>-->
            <!--                    <include name="sortingByDescendingPriceTest"/>-->
            <!--                </methods>-->
            <!--            </class>-->
            <class name="BasketTest">
                <methods>
                    <include name="basketTestByCriteria"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>